*{
    margin: 0px;
    padding: 0px;
}
html{
    background-image: url(background.jpg);
    
}
body{
    background-color: rgb(203, 196, 196,0.7);
    width: 900px;
    margin: 0px auto;
    box-shadow: 10px 10px 30px 
}
/*menu*/
a{
    text-decoration: none;
}
.ul li a{
    text-align: center;
    background-color: grey;
    display: block;
    padding: 5px;
    color: white;
    border-radius: 7px;
}
.ul li {
    width: 140px;
    font-size: 12px;
    padding: 3px;
    float: left;
    position: relative;
    padding-right: 3px;
}
.ul {
    list-style: none;
    margin:0;
    padding:0;
}
.ul ul li {
    list-style: none;
    padding: 1px;
    border-bottom: 1px solid black;
    border-radius: 7px;
    background-color: grey;
}
.ul ul {
    visibility: hidden;
    position: absolute;
    padding-top: 1px;
    
}
.ul li:hover ul{
    visibility: visible;
}
.ul a:hover{
    background-color: #5c5a5a;
}
/*##########################*/
.logo{
    margin-top: -20px;
    margin-bottom: -40px
}
p{
    padding: 10px;
}
h2{
    padding: 10px;
}